@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #0644a2;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-select-selector {
  border: 0;
  background-color: transparent;
  outline: none;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 0;
  background-color: transparent;
  outline: 0;
}

.ant-list-item-meta-description {
  line-height: 1.1;
}

.ant-btn-lg {
  @apply rounded-full
}

.ant-btn-primary {
  @apply bg-primary border-primary
}